In [9]:
from __future__ import print_function
from IPython.utils.path import get_ipython_dir
print(get_ipython().profile_dir.location)

import pandas_datareader.data as web
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime
import talib
import itable
import ffn

from fintools.Parameters import Parameters
from fintools.set_start_end import set_start_end
from fintools.get_yahoo_prices import get_yahoo_prices
from fintools.compute_weights_RS_DM import compute_weights_RS_DM
from fintools.compute_weights_PMA import compute_weights_PMA
from fintools.endpoints import endpoints
from fintools.backtest import backtest
from fintools.monthly_return_table import monthly_return_table
from fintools.show_return_table import show_return_table

%matplotlib inline


###############################################################################
# useful utility routine
def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print (adjoin(space, *reprs))

/home/scubamut/.ipython/profile_default

In [11]:
# import pandas as pd
# from .Parameters import Parameters
# from .get_yahoo_prices import get_yahoo_prices
# from .endpoints import endpoints
# from .backtest import backtest

def compute_weights_RS_DM(name, parameters):

    print('Strategy : {}'.format(name))

    p = Parameters(parameters)

    prices = get_yahoo_prices(p)

    end_points = endpoints(period=p.frequency, trading_days=prices.index)
    prices_m = prices.loc[end_points]

    returns = prices_m[p.symbols].pct_change(p.rs_lookback)[p.rs_lookback:]

    if isinstance(p.risk_free, int):
        excess_returns = returns
    else:
        risk_free_returns = prices_m[p.risk_free].pct_change(p.rs_lookback)[p.rs_lookback:]
        excess_returns = returns.subtract(risk_free_returns, axis=0).dropna()

    absolute_momentum = prices_m[p.symbols].pct_change(p.risk_lookback)[p.risk_lookback:]
    absolute_momentum_rule = absolute_momentum > 0
    rebalance_dates = excess_returns.index.join(absolute_momentum_rule.index, how='inner')

    # relative strength ranking
    ranked = excess_returns.loc[rebalance_dates][p.symbols].rank(ascending=False, axis=1, method='dense')
    # elligibility rule - top n_top ranked securities
    elligible = ranked[ranked <= p.n_top] > 0

    # equal weight allocations
    elligible = elligible.multiply(1. / elligible.sum(1), axis=0)

    # downside protection
    weights = pd.DataFrame(0., index=elligible.index, columns=prices.columns)
    if p.cash_proxy == 'CASHX':
        weights[p.cash_proxy] = 0
        prices[p.cash_proxy] = 1.
    weights[p.symbols] = (elligible * absolute_momentum_rule).dropna()
    weights[p.cash_proxy] += 1 - weights[p.symbols].sum(axis=1)

    # backtest

    p_value, p_holdings, p_weights = backtest(prices, weights, 10000., offset=0, commission=10.)

    # p_value.plot(figsize=(15, 10), grid=True, legend=True, label=name)

    return p_value, p_holdings, p_weights, prices

In [12]:
def compute_weights_PMA(name, parameters):

    print(name)

    p = Parameters(parameters)

    prices = get_yahoo_prices(p)

    end_points = endpoints(period=p.frequency, trading_days=prices.index)
    prices_m = prices.loc[end_points]

    # elligibility rule
    SMA = prices_m.rolling(p.risk_lookback).mean().dropna()
    rebalance_dates = SMA.index
    rule = prices_m.loc[rebalance_dates][p.symbols] > SMA[p.symbols]

    # fixed weight allocation
    weights = p.allocations * rule

    # downside protection
    weights[p.cash_proxy] = 1 - weights[p.symbols].sum(axis=1)

    # backtest
    p_value, p_holdings, p_weights = backtest(prices, weights, 10000., offset=0, commission=10.)

    # p_value.plot(figsize=(15, 10), grid=True, legend=True, label=name)

    return p_value, p_holdings, p_weights, prices

In [13]:
# Define which online source one should use
data_source = 'yahoo'

# We would like all available data from 01/01/2000 until today.

start_date = '1986-01-01'
# start_date = '2000-01-01'
# end_date = '2016-12-31'
end_date = datetime.today().strftime('%Y-%m-%d')

strategies = {
    'RS0001': { 'symbols': ['CWB','HYG','MBB','IEF','HYD'], 
               'prices':data_source, 'start':start_date, 'end':end_date,
               'rs_lookback': 1, 'risk_lookback': 1, 'n_top': 2, 'frequency': 'M',
              'cash_proxy': 'CASHX', 'risk_free': 0},
    'RS0002': {'symbols': ['HYD','QLTB','MBB'], 
               'prices':data_source, 'start':start_date, 'end':end_date,               
               'rs_lookback': 3, 'risk_lookback': 2, 'n_top': 1, 'frequency': 'M',
              'cash_proxy': 'CASHX', 'risk_free': 0},
    'RS0003': {'symbols': ['HYD','MBB','SHY'], 
               'prices':data_source, 'start':start_date, 'end':end_date,
               'rs_lookback': 1, 'risk_lookback': 1, 'n_top': 1, 'frequency': 'Q',
              'cash_proxy': 'CASHX', 'risk_free': 0},    
    'DM0001': {'symbols': ['CWB','VYM','HYG','VHT','TLT','MBB','HYD','IEF'], 
               'prices':data_source, 'start':start_date, 'end':end_date,
               'rs_lookback': 1, 'risk_lookback': 1, 'n_top': 3, 'frequency': 'M',
              'cash_proxy': 'CASHX', 'risk_free': 'SHY'},
    'DM0002': {'symbols': ['CWB','TLT','HYG','VHT','VNQ'], 
               'prices':data_source, 'start':start_date, 'end':end_date,
               'rs_lookback': 1, 'risk_lookback': 1, 'n_top': 5, 'frequency': 'M',
              'cash_proxy': 'MBB', 'risk_free': 'SHY'},
    'PMA001': {'symbols': ['CWB','MBB'], 
               'prices':data_source, 'start':start_date, 'end':end_date,  
               'risk_lookback': 3, 'frequency': 'M', 'allocations': [0.6, 0.4],
              'cash_proxy': 'TLT'},
    'PMA002': {'symbols': ['CWB','VYM','HYG'], 
               'prices':data_source, 'start':start_date, 'end':end_date,
               'risk_lookback': 3, 'frequency': 'M', 'allocations': [0.6, 0.2, 0.2],
              'cash_proxy': 'TLT'},
    'PMA003': {'symbols': ['VCVSX', 'FAGIX', 'VGHCX'], 
               'prices':data_source, 'start':start_date, 'end':end_date,
               'risk_lookback': 2, 'frequency': 'M', 'allocations': [1./3., 1./3., 1./3.],
              'cash_proxy': 'VUSTX'}
    }

In [15]:
name = 'RS0002'

In [16]:
compute_weights_RS_DM (name, strategies[name])

Strategy : RS0002

ValueError: Index contains duplicate entries, cannot reshape

In [18]:
p = Parameters(strategies[name])
p

In [19]:
prices = get_yahoo_prices(p)

ValueError: Index contains duplicate entries, cannot reshape

In [26]:
tickers

['HYD', 'QLTB', 'MBB']

In [47]:
d1 = data.DataReader(['HYD'], "yahoo", start, end)['Adj Close']
d1

Symbols           HYD
Date
2009-02-05  15.677656
2009-02-06  15.743864
2009-02-09  15.767930
2009-02-10  15.767930
2009-02-11  15.749880
2009-02-12  15.779973
2009-02-13  15.785989
2009-02-17  15.779973
2009-02-18  15.816076
2009-02-19  15.779973
2009-02-20  15.846172
2009-02-23  15.846172
2009-02-24  15.864230
2009-02-25  15.840155
2009-02-26  15.870242
2009-02-27  15.882274
2009-03-02  15.867129
2009-03-03  15.861074
2009-03-04  15.739902
2009-03-05  15.606621
2009-03-06  15.661147
2009-03-09  15.703554
2009-03-10  15.594504
2009-03-11  15.630857
2009-03-12  15.642979
2009-03-13  15.661147
2009-03-16  15.715675
2009-03-17  15.673262
2009-03-18  15.806542
2009-03-19  15.903485
...               ...
2018-06-29  31.249424
2018-07-02  31.143818
2018-07-03  31.153780
2018-07-05  31.213558
2018-07-06  31.263371
2018-07-09  31.253410
2018-07-10  31.263371
2018-07-11  31.293261
2018-07-12  31.293261
2018-07-13  31.343073
2018-07-16  31.343073
2018-07-17  31.372963
2018-07-18  31.353037
2018-07-19  31.372963
2018-07-20  31.362999
2018-07-23  31.313187
2018-07-24  31.303223
2018-07-25  31.343073
2018-07-26  31.333113
2018-07-27  31.392889
2018-07-30  31.353037
2018-07-31  31.362999
2018-08-01  31.320000
2018-08-02  31.360001
2018-08-03  31.309999
2018-08-06  31.320000
2018-08-07  31.290001
2018-08-08  31.340000
2018-08-09  31.320000
2018-08-10  31.400000

[2396 rows x 1 columns]

In [55]:
data.DataReader(['QLTB'], "yahoo", start, end)

Attributes       High        Low       Open      Close    Volume  Adj Close
Symbols          QLTB       QLTB       QLTB       QLTB      QLTB       QLTB
Date
2012-04-26  50.470001  50.209999  50.470001  50.209999     200.0  42.942619
2012-04-27  50.209999  50.209999  50.209999  50.209999       0.0  42.942619
2012-04-30  50.540001  50.500000  50.540001  50.500000    2200.0  43.190647
2012-05-01  50.500000  50.500000  50.500000  50.500000       0.0  43.190647
2012-05-02  50.650002  50.590000  50.639999  50.650002    1900.0  43.318924
2012-05-03  51.169998  50.720001  51.169998  50.730000     700.0  43.387363
2012-05-04  50.740002  50.740002  50.740002  50.740002     900.0  43.395912
2012-05-07  50.790001  50.759998  50.759998  50.790001     700.0  43.438671
2012-05-08  50.849998  50.849998  50.849998  50.849998    1500.0  43.489986
2012-05-09  50.799999  50.700001  50.759998  50.799999    5400.0  43.447235
2012-05-10  50.799999  50.520000  50.619999  50.799999    6400.0  43.447235
2012-05-11  51.139999  51.009998  51.009998  51.139999    4800.0  43.737995
2012-05-14  53.619999  53.619999  53.619999  53.619999     100.0  45.859062
2012-05-15  50.950001  50.900002  50.950001  50.950001   26200.0  43.575523
2012-05-16  50.770000  50.689999  50.740002  50.750000    3700.0  43.404449
2012-05-17  50.549999  50.529999  50.529999  50.549999    1700.0  43.233418
2012-05-18  50.470001  50.360001  50.470001  50.360001    3000.0  43.070892
2012-05-21  50.099998  50.099998  50.099998  50.099998     200.0  42.848526
2012-05-22  50.099998  50.099998  50.099998  50.099998       0.0  42.848526
2012-05-23  50.150002  49.970001  50.150002  49.970001   37900.0  42.737350
2012-05-24  50.009998  49.880001  50.009998  49.880001    3300.0  42.660381
2012-05-25  49.980000  49.860001  49.980000  49.860001    6000.0  42.643284
2012-05-29  50.049999  47.360001  47.360001  50.000000    9800.0  42.763023
2012-05-30  49.900002  49.900002  49.900002  49.900002    3000.0  42.677486
2012-05-31  50.000000  49.880001  50.000000  49.880001   11100.0  42.660381
2012-06-01  50.509998  49.840000  50.029999  49.840000    7600.0  42.783127
2012-06-04  50.169998  50.150002  50.169998  50.150002     500.0  43.049244
2012-06-05  50.040001  49.889999  49.889999  49.970001    8500.0  42.894718
2012-06-06  50.070000  49.860001  49.900002  49.880001    8500.0  42.817471
2012-06-07  50.110001  49.889999  49.900002  50.110001    2200.0  43.014908
...               ...        ...        ...        ...       ...        ...
2016-07-14  53.250000  52.549999  52.639999  52.799999   12600.0  52.644325
2016-07-15  53.090000  52.689999  53.090000  52.900002    1900.0  52.744034
2016-07-18  53.160000  52.490002  53.049999  52.759998   14900.0  52.604443
2016-07-19  53.029999  52.349998  52.900002  52.799999    2200.0  52.644325
2016-07-20  53.000000  52.900002  53.000000  52.990002     500.0  52.833771
2016-07-21  52.869999  52.750000  52.750000  52.820000     600.0  52.664268
2016-07-22  53.340000  52.959999  53.090000  53.070000    4000.0  52.913532
2016-07-25  53.090000  52.320000  52.849998  52.320000    5100.0  52.165741
2016-07-26  52.889999  52.320000  52.320000  52.720001    5800.0  52.564564
2016-07-27  53.259998  52.950001  53.150002  52.950001    2100.0  52.793884
2016-07-28  53.090000  52.950001  53.060001  53.090000    4400.0  52.933472
2016-07-29  53.320000  53.110001  53.320000  53.250000    2900.0  53.093002
2016-08-01  53.189999  52.369999  53.189999  52.590000   40000.0  52.590000
2016-08-02  52.820000  52.439999  52.740002  52.500000    1900.0  52.500000
2016-08-03  52.880001  52.660000  52.869999  52.810001   40600.0  52.810001
2016-08-04  52.990002  52.299999  52.299999  52.549999   24000.0  52.549999
2016-08-05  53.009998  52.400002  52.990002  52.840000   13500.0  52.840000
2016-08-08  52.900002  52.590000  52.590000  52.900002     700.0  52.900002
2016-08-09  53.230000  53.020000  53.110001  53.020000    2900.0  53.020000
2016-08-10  53.230000  52.689999  52.849998  52.860001   20500.0  52.860001
2016-08-11  53.529999  52.590000  53.529999  52.810001  101800.0  52.810001
2016-08-12  53.389999  52.900002  52.900002  53.389999    2600.0  53.389999
2016-08-15  53.540001  52.840000  53.500000  52.860001   20900.0  52.860001
2016-08-16  53.160000  52.740002  52.849998  52.740002    2300.0  52.740002
2016-08-17  52.779999  52.779999  52.779999  52.779999    1000.0  52.779999
2016-08-18  53.200001  52.910000  52.910000  53.200001    3300.0  53.200001
2016-08-19  53.419998  52.779999  53.419998  53.000000    4300.0  53.000000
2016-08-22  53.349998  53.160000  53.160000  53.330002    1600.0  53.330002
2016-08-23  53.369999  53.049999  53.349998  53.169998    8400.0  53.169998
2016-08-23  53.369999  53.049999  53.349998  53.165699    8435.0  53.165699

[1090 rows x 6 columns]

In [48]:
d2 = data.DataReader(['QLTB'], "yahoo", start, end)['Adj Close']
d2

Symbols          QLTB
Date
2012-04-26  42.942619
2012-04-27  42.942619
2012-04-30  43.190647
2012-05-01  43.190647
2012-05-02  43.318924
2012-05-03  43.387363
2012-05-04  43.395912
2012-05-07  43.438671
2012-05-08  43.489986
2012-05-09  43.447235
2012-05-10  43.447235
2012-05-11  43.737995
2012-05-14  45.859062
2012-05-15  43.575523
2012-05-16  43.404449
2012-05-17  43.233418
2012-05-18  43.070892
2012-05-21  42.848526
2012-05-22  42.848526
2012-05-23  42.737350
2012-05-24  42.660381
2012-05-25  42.643284
2012-05-29  42.763023
2012-05-30  42.677486
2012-05-31  42.660381
2012-06-01  42.783127
2012-06-04  43.049244
2012-06-05  42.894718
2012-06-06  42.817471
2012-06-07  43.014908
...               ...
2016-07-14  52.644325
2016-07-15  52.744034
2016-07-18  52.604443
2016-07-19  52.644325
2016-07-20  52.833771
2016-07-21  52.664268
2016-07-22  52.913532
2016-07-25  52.165741
2016-07-26  52.564564
2016-07-27  52.793884
2016-07-28  52.933472
2016-07-29  53.093002
2016-08-01  52.590000
2016-08-02  52.500000
2016-08-03  52.810001
2016-08-04  52.549999
2016-08-05  52.840000
2016-08-08  52.900002
2016-08-09  53.020000
2016-08-10  52.860001
2016-08-11  52.810001
2016-08-12  53.389999
2016-08-15  52.860001
2016-08-16  52.740002
2016-08-17  52.779999
2016-08-18  53.200001
2016-08-19  53.000000
2016-08-22  53.330002
2016-08-23  53.169998
2016-08-23  53.165699

[1090 rows x 1 columns]

In [49]:
d3 = data.DataReader(['MBB'], "yahoo", start, end)['Adj Close']
d3

Symbols            MBB
Date
2007-03-16   71.163094
2007-03-19   71.163094
2007-03-20   71.247757
2007-03-21   71.339478
2007-03-22   71.240707
2007-03-23   71.247757
2007-03-26   71.254837
2007-03-27   71.219528
2007-03-28   71.212494
2007-03-29   71.120750
2007-03-30   71.156067
2007-04-02   71.216179
2007-04-03   71.216179
2007-04-04   71.216179
2007-04-05   71.251549
2007-04-09   71.194954
2007-04-10   71.237335
2007-04-11   71.110123
2007-04-12   71.081764
2007-04-13   70.996902
2007-04-16   71.145424
2007-04-17   71.286858
2007-04-18   71.364677
2007-04-19   71.407074
2007-04-20   71.251549
2007-04-23   71.421257
2007-04-24   71.491989
2007-04-25   71.470741
2007-04-26   71.378822
2007-04-27   71.343475
...                ...
2018-06-29  103.736641
2018-07-02  103.588943
2018-07-03  103.788528
2018-07-05  103.778549
2018-07-06  103.898308
2018-07-09  103.788528
2018-07-10  103.658798
2018-07-11  103.758591
2018-07-12  103.828453
2018-07-13  103.958183
2018-07-16  103.868370
2018-07-17  103.848404
2018-07-18  103.838432
2018-07-19  103.998100
2018-07-20  103.828453
2018-07-23  103.459198
2018-07-24  103.529060
2018-07-25  103.568977
2018-07-26  103.499123
2018-07-27  103.519081
2018-07-30  103.439247
2018-07-31  103.558998
2018-08-01  103.449997
2018-08-02  103.570000
2018-08-03  103.680000
2018-08-06  103.779999
2018-08-07  103.580002
2018-08-08  103.639999
2018-08-09  103.839996
2018-08-10  104.010002

[2873 rows x 1 columns]

In [61]:
pd.concat([d1, d2], axis=1)

ValueError: Shape of passed values is (2, 2399), indices imply (2, 2397)

In [58]:
pd.concat([d1,d2,d3])

                  HYD         MBB  QLTB
Date
2009-02-05  15.677656         NaN   NaN
2009-02-06  15.743864         NaN   NaN
2009-02-09  15.767930         NaN   NaN
2009-02-10  15.767930         NaN   NaN
2009-02-11  15.749880         NaN   NaN
2009-02-12  15.779973         NaN   NaN
2009-02-13  15.785989         NaN   NaN
2009-02-17  15.779973         NaN   NaN
2009-02-18  15.816076         NaN   NaN
2009-02-19  15.779973         NaN   NaN
2009-02-20  15.846172         NaN   NaN
2009-02-23  15.846172         NaN   NaN
2009-02-24  15.864230         NaN   NaN
2009-02-25  15.840155         NaN   NaN
2009-02-26  15.870242         NaN   NaN
2009-02-27  15.882274         NaN   NaN
2009-03-02  15.867129         NaN   NaN
2009-03-03  15.861074         NaN   NaN
2009-03-04  15.739902         NaN   NaN
2009-03-05  15.606621         NaN   NaN
2009-03-06  15.661147         NaN   NaN
2009-03-09  15.703554         NaN   NaN
2009-03-10  15.594504         NaN   NaN
2009-03-11  15.630857         NaN   NaN
2009-03-12  15.642979         NaN   NaN
2009-03-13  15.661147         NaN   NaN
2009-03-16  15.715675         NaN   NaN
2009-03-17  15.673262         NaN   NaN
2009-03-18  15.806542         NaN   NaN
2009-03-19  15.903485         NaN   NaN
...               ...         ...   ...
2018-06-29        NaN  103.736641   NaN
2018-07-02        NaN  103.588943   NaN
2018-07-03        NaN  103.788528   NaN
2018-07-05        NaN  103.778549   NaN
2018-07-06        NaN  103.898308   NaN
2018-07-09        NaN  103.788528   NaN
2018-07-10        NaN  103.658798   NaN
2018-07-11        NaN  103.758591   NaN
2018-07-12        NaN  103.828453   NaN
2018-07-13        NaN  103.958183   NaN
2018-07-16        NaN  103.868370   NaN
2018-07-17        NaN  103.848404   NaN
2018-07-18        NaN  103.838432   NaN
2018-07-19        NaN  103.998100   NaN
2018-07-20        NaN  103.828453   NaN
2018-07-23        NaN  103.459198   NaN
2018-07-24        NaN  103.529060   NaN
2018-07-25        NaN  103.568977   NaN
2018-07-26        NaN  103.499123   NaN
2018-07-27        NaN  103.519081   NaN
2018-07-30        NaN  103.439247   NaN
2018-07-31        NaN  103.558998   NaN
2018-08-01        NaN  103.449997   NaN
2018-08-02        NaN  103.570000   NaN
2018-08-03        NaN  103.680000   NaN
2018-08-06        NaN  103.779999   NaN
2018-08-07        NaN  103.580002   NaN
2018-08-08        NaN  103.639999   NaN
2018-08-09        NaN  103.839996   NaN
2018-08-10        NaN  104.010002   NaN

[6359 rows x 3 columns]

In [32]:
start,end

('1986-01-01', '2018-08-13')

In [25]:
from pandas_datareader import data

if isinstance(p.prices, str):
    if p.prices == 'yahoo':
        tickers = p.symbols.copy()
        if p.cash_proxy != 'CASHX':
            tickers = list(set(tickers + [p.cash_proxy]))
        try:
            if isinstance(p.risk_free, str):
                tickers = list(set(tickers + [p.risk_free]))

        except:
            pass

        if p.start >= p.end:
            raise ('start must be < end')

        start, end = set_start_end()

        data_panel = data.DataReader(tickers, "yahoo", start, end)

        close = data_panel['Adj Close'].sort_index(ascending=True)

#          close.copy().dropna()
# else:
#      return p.prices

ValueError: Index contains duplicate entries, cannot reshape